@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";
@import "https://fonts.googleapis.com/css?family=Noto+Sans:400,700";
.gotham {
  font-family: 'Gotham', sans-serif; }

.lato {
  font-family: 'Lato', sans-serif; }

html {
  min-width: 320px; }

body {
  position: relative;
  min-width: 320px;
  color: #666;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans CJK KR', sans-serif; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #666; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: #222; }

ol, ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl, p, address {
  margin-bottom: 0; }

dt, dd {
  font-weight: normal; }

legend {
  margin-bottom: 0;
  border-bottom: 0; }

label {
  margin-bottom: 0;
  font-weight: normal; }

.container,
.container-fluid {
  max-width: 1200px !important;
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.btn {
  border-radius: 0;
  text-align: center;
  transition: all .3s;
  box-shadow: none; }
  .btn:hover, .btn:focus {
    opacity: .5;
    box-shadow: none; }
  .btn:active, .btn.active {
    box-shadow: none; }

.form-group {
  margin-bottom: 0; }

.form-control:focus {
  box-shadow: none; }

select.form-control {
  padding: 0 5px;
  font-size: 12px !important; }

.skip-nav:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: #d90c1c;
  color: #fff;
  z-index: 9000;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none; }

/*
body {
    padding-top: 127px;
    &.gnb-opened {
        #header {
            height: 370px;
            background-color: #fff;
            #gnb {
                .menu {
                    > ul {
                        > li {
                            > ul {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $lg - 1px) {
        padding-top: 60px;
        &.gnb-opened {
            overflow: hidden;
            width: 100%;
            height: 100%;
            max-width: 100%;
            #header {
                height: 100%;
                overflow: scroll;
            }
        }
    }
}
*/
/* Header */
/*
#header {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 127px;
    z-index: 999;
    -webkit-transition: height .3s;
    transition: height .3s;
    .top-menu {
        text-align: right;
        border-bottom: 1px solid #e5e5e5;
        ul {
            width: 1170px;
            height: 35px;
            margin: 0 auto;
            li {
                font-size: 10px;
                line-height: 35px;
                display: inline-block;
                &:after {
                    content: "|";
                    font-size: 10px;
                    padding: 0 14px;
                }
                &:last-child:after {
                    content: "";
                    padding: 0;
                }
                &:nth-of-type(3):after {
                    content: "";
                    display: inline-block;
                    padding: 0;
                    padding-right: 10px;
                }
            }
            .active {
                width: 110px;
                a {
                    text-align: center;
                    display: block;
                    color: #fff;
                    background-color: $rc;
                }
            }
        }
    }
    #gnb {
        position: absolute;
        z-index: 9100;
        top: 36px;
        width: 100%;
        height: 91px;
        background-color: #fff;
        border-bottom: 3px solid #d90c1c;
        .logo {
            margin-top: 25px;
            img {
                vertical-align: middle;
            }
        }
        .menu {
            float: right;
            > ul {
                > li {
                    position: relative;
                    float: left;
                    > a {
                        display: inline-block;
                        padding-left: 50px;
                        padding-right: 50px;
                        font-size: 18px;
                        color: #222;
                        font-weight: 400;
                        line-height: 91px;
                        text-decoration: none;
                    }
                    > ul {
                        display: none;
                        position: absolute;
                        z-index: 999;
                        top: 91px;
                        left: 0;
                        padding-top: 30px;
                        padding-bottom: 30px;
                        height: 243px;
                        width: 100%;
                        > li {
                            > a {
                                display: inline-block;
                                padding-left: 50px;
                                width: 100%;
                                font-size: 14px;
                                color: #222;
                                font-weight: normal;
                                line-height: 35px;
                                text-decoration: none;
                                &:hover, &:focus {
                                    color: #d90c1c;
                                }
                            }
                        }
                    }
                    &:hover, &:focus {
                        > ul {
                            background-color: #f1f1f1;
                        }
                    }
                }
            }
        }
        @media (max-width: $lg - 1px) {
            position: relative;
            top: 0;
            height: 60px;
            .logo {
                float: left;
                margin-top: 0;
                padding-top: 5px;
                height: 60px;
            }
            .menu {
                float: none;
                > ul {
                    > li {
                        float: none;
                        height: auto;
                        > a {
                            padding-left: 0;
                            line-height: normal;
                        }
                        > ul {
                            position: relative;
                            left: inherit;
                            top: inherit;
                            display: block;
                            padding-top: 0;
                            padding-bottom: 0;
                            > li {
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
*/
body {
  padding-top: 50px; }
  body.gnb-opened {
    overflow: hidden;
    height: 100%; }
    body.gnb-opened #header .logo .btn-menu:before {
      content: url(/assets/images/main/ico_close.png);
      vertical-align: -7px; }
    body.gnb-opened #header .menu {
      display: block; }
  @media (min-width: 768px) {
    body {
      padding-top: 60px; } }
  @media (min-width: 1200px) {
    body {
      padding-top: 127px; }
      body.gnb-opened {
        overflow: auto;
        height: auto; }
        body.gnb-opened #header {
          height: 370px; }
          body.gnb-opened #header .menu > ul > li > ul {
            display: block; } }

#header {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #d90c1c;
  background-color: #fff; }
  @media (min-width: 768px) {
    #header {
      height: 60px;
      border-bottom: 3px solid #d90c1c; } }
  @media (min-width: 1200px) {
    #header {
      overflow: hidden;
      height: 127px;
      border-bottom: 0;
      -webkit-transition: height .3s;
      transition: height .3s; }
      #header .top-menu {
        text-align: right;
        border-bottom: 1px solid #e5e5e5; }
        #header .top-menu ul {
          width: 1170px;
          height: 35px;
          margin: 0 auto; }
          #header .top-menu ul li {
            font-size: 10px;
            line-height: 35px;
            display: inline-block; }
            #header .top-menu ul li:after {
              content: "|";
              font-size: 10px;
              padding: 0 14px;
              vertical-align: 0;
              line-height: 35px; }
            #header .top-menu ul li:last-child:after {
              content: "";
              padding: 0; }
            #header .top-menu ul li:nth-of-type(3):after {
              content: "";
              display: inline-block;
              padding: 0;
              padding-right: 10px; }
          #header .top-menu ul .active {
            width: 110px; }
            #header .top-menu ul .active a {
              text-align: center;
              display: block;
              color: #fff;
              background-color: #d90c1c; }
      #header #gnb {
        height: 91px;
        border-bottom: 3px solid #d90c1c; } }
  #header .logo {
    position: relative;
    height: 50px; }
    #header .logo h1 {
      float: left; }
    #header .logo .btn-menu {
      position: relative;
      float: right;
      z-index: 9001;
      margin-top: 10px;
      padding: 0;
      background-color: #fff;
      opacity: 1; }
      #header .logo .btn-menu:before {
        content: url(/assets/images/main/ico_menu.png);
        vertical-align: -7px; }
    @media (min-width: 768px) {
      #header .logo {
        height: 60px; }
        #header .logo h1 {
          margin-top: 5px; }
        #header .logo .btn-menu {
          margin-top: 15px; } }
    @media (min-width: 1200px) {
      #header .logo {
        height: auto; }
        #header .logo h1 {
          float: none;
          margin-top: 25px; } }
  #header .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    height: 100%;
    width: 100%; }
    #header .menu > ul {
      overflow: auto;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); }
      #header .menu > ul > li {
        border-top: 1px solid #d3d1d0;
        background-color: #fff; }
        #header .menu > ul > li > a {
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          width: 100%;
          line-height: 50px;
          font-size: 14px;
          color: #222;
          text-decoration: none; }
          #header .menu > ul > li > a:after {
            float: right;
            content: url(/assets/images/main/ico_down_block.png); }
        #header .menu > ul > li > ul {
          display: none;
          padding-top: 20px;
          padding-bottom: 20px;
          background-color: #f7f7f7; }
          #header .menu > ul > li > ul > li > a {
            display: inline-block;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            font-size: 14px;
            line-height: 38px;
            text-decoration: none; }
        #header .menu > ul > li.active {
          border-top: 0; }
          #header .menu > ul > li.active > a {
            color: #fff;
            background-color: #e60012; }
            #header .menu > ul > li.active > a:after {
              content: url(/assets/images/main/ico_up_red.png); }
          #header .menu > ul > li.active > ul {
            display: block; }
    @media (min-width: 768px) {
      #header .menu {
        padding-top: 60px; }
        #header .menu > ul > li > a {
          padding-left: 20px;
          padding-right: 20px;
          line-height: 60px;
          font-size: 17px; }
        #header .menu > ul > li > ul > li > a {
          padding-left: 40px;
          padding-right: 40px;
          font-size: 17px;
          line-height: 48px; } }
    @media (min-width: 1200px) {
      #header .menu {
        position: relative;
        top: auto;
        left: auto;
        float: right;
        display: block;
        width: auto;
        padding-top: 0; }
        #header .menu > ul {
          display: block;
          background-color: transparent; }
          #header .menu > ul > li {
            float: left;
            border-top: 0;
            background-color: transparent; }
            #header .menu > ul > li > a {
              padding-left: 50px;
              padding-right: 50px;
              line-height: 91px;
              font-size: 18px; }
              #header .menu > ul > li > a:after {
                content: ""; }
            #header .menu > ul > li > ul {
              padding-top: 25px;
              padding-bottom: 0;
              height: 243px;
              background-color: transparent; }
              #header .menu > ul > li > ul > li > a {
                padding-left: 50px;
                padding-right: 0;
                font-size: 14px;
                line-height: 35px; }
                #header .menu > ul > li > ul > li > a:hover, #header .menu > ul > li > ul > li > a:focus {
                  color: #d90c1c; }
            #header .menu > ul > li:hover > ul, #header .menu > ul > li:focus > ul {
              background-color: #f1f1f1; }
            #header .menu > ul > li.active > a {
              background-color: transparent;
              color: #222; }
              #header .menu > ul > li.active > a:after {
                content: ''; } }

/* Footer */
#footer {
  background-color: #1f1f1f; }
  @media (max-width: 768px) {
    #footer {
      text-align: center; } }
  @media (max-width: 992px) {
    #footer {
      text-align: center; } }
  @media (max-width: 1200px) {
    #footer {
      text-align: center; } }
  #footer .foot-nav .introduce {
    margin: 50px 0;
    border-right: 1px solid #2f2f2f; }
    #footer .foot-nav .introduce > ul > li {
      display: inline-block;
      width: 19.5%;
      vertical-align: top; }
      #footer .foot-nav .introduce > ul > li h4 {
        margin-bottom: 20px; }
        #footer .foot-nav .introduce > ul > li h4 a {
          font-size: 15px;
          color: #d5d5d5;
          font-weight: 400;
          line-height: 30px; }
      #footer .foot-nav .introduce > ul > li ul li a {
        font-size: 14px;
        color: #777;
        font-weight: 400;
        line-height: 30px; }
  #footer .foot-nav .company {
    margin: 50px 0;
    padding-left: 39px; }
    @media (max-width: 768px) {
      #footer .foot-nav .company {
        padding: 0;
        margin-top: 30px !important;
        margin-bottom: 0; } }
    @media (max-width: 992px) {
      #footer .foot-nav .company {
        padding: 0;
        margin-bottom: 0; } }
    @media (max-width: 1200px) {
      #footer .foot-nav .company {
        padding: 0;
        margin-bottom: 0; } }
    #footer .foot-nav .company h2 {
      padding-top: 17px;
      padding-left: 27px;
      margin-bottom: 32px; }
      #footer .foot-nav .company h2 a img {
        vertical-align: top; }
    #footer .foot-nav .company dl {
      line-height: 25px; }
      @media (max-width: 992px) {
        #footer .foot-nav .company dl:nth-of-type(1) {
          margin-right: 10px; } }
      @media (max-width: 1200px) {
        #footer .foot-nav .company dl:nth-of-type(1) {
          margin-right: 10px; } }
      @media (max-width: 768px) {
        #footer .foot-nav .company dl {
          margin-top: 0 !important;
          display: inline-block;
          text-align: center; } }
      @media (max-width: 992px) {
        #footer .foot-nav .company dl {
          margin-top: 10px;
          display: inline-block;
          text-align: center; } }
      @media (max-width: 1200px) {
        #footer .foot-nav .company dl {
          margin-top: 10px;
          display: inline-block;
          text-align: center; } }
      #footer .foot-nav .company dl dt {
        display: inline-block;
        font-size: 13px;
        color: #999;
        font-weight: 400;
        line-height: 25px; }
        #footer .foot-nav .company dl dt:after {
          content: ":"; }
        #footer .foot-nav .company dl dt:nth-of-type(2) {
          margin-left: 7px; }
      #footer .foot-nav .company dl dd {
        display: inline-block;
        font-size: 13px;
        color: #999;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -1px; }
    #footer .foot-nav .company ul {
      margin-top: 37px; }
      @media (max-width: 768px) {
        #footer .foot-nav .company ul {
          margin-top: 30px !important;
          margin-bottom: 25px; } }
      #footer .foot-nav .company ul li {
        display: inline-block; }
        #footer .foot-nav .company ul li:after {
          content: "|";
          padding: 0 4px 0 10px; }
        #footer .foot-nav .company ul li:last-child:after {
          content: "";
          padding: 0; }
        #footer .foot-nav .company ul li a {
          font-size: 13px;
          color: #999;
          letter-spacing: -1px;
          font-weight: 400; }
  #footer .copyright {
    border-top: 1px solid #2e2e2e;
    padding: 13px 0; }
    @media (max-width: 768px) {
      #footer .copyright {
        border: 0;
        padding: 0; } }
    @media (max-width: 992px) {
      #footer .copyright {
        border: 0;
        padding-top: 0; } }
    @media (max-width: 1200px) {
      #footer .copyright {
        border: 0;
        padding-top: 0; } }
    #footer .copyright p {
      font-size: 13px;
      color: #999;
      text-align: left;
      line-height: 40px; }
      #footer .copyright p a {
        color: #999; }
      @media (max-width: 320px) {
        #footer .copyright p {
          line-height: 26px;
          text-align: center; } }
      @media (max-width: 768px) {
        #footer .copyright p {
          line-height: 26px;
          text-align: center; } }
      @media (max-width: 992px) {
        #footer .copyright p {
          line-height: 26px;
          text-align: center; } }
      @media (max-width: 1200px) {
        #footer .copyright p {
          line-height: 26px;
          text-align: center; } }
    @media (max-width: 768px) {
      #footer .copyright .dropup {
        margin-top: 32px !important;
        display: inline-block;
        padding-bottom: 25px; } }
    @media (max-width: 992px) {
      #footer .copyright .dropup {
        margin-top: 10px;
        display: inline-block;
        padding-bottom: 25px; } }
    @media (max-width: 1200px) {
      #footer .copyright .dropup {
        margin-top: 10px;
        display: inline-block;
        padding-bottom: 25px; } }
    #footer .copyright .dropup .btn {
      display: block;
      width: 170px;
      height: 40px;
      font-size: 13px;
      color: #999;
      text-align: left;
      border: 1px solid #303030;
      border-radius: 0;
      background-color: #333; }
      #footer .copyright .dropup .btn span {
        margin-top: 7px;
        float: right; }
    #footer .copyright .dropup .dropdown-menu {
      width: 170px;
      border-radius: 0; }
      #footer .copyright .dropup .dropdown-menu li a {
        line-height: 26px; }

/*# sourceMappingURL=default.css.map */
