@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";
.gotham {
  font-family: 'Gotham', sans-serif; }

.lato {
  font-family: 'Lato', sans-serif; }

.talented {
  padding-bottom: 40px; }
  @media (max-width: 991px) {
    .talented {
      padding-bottom: 0; } }
  .talented .section-content .talented-txt {
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 70px; }
    @media (max-width: 767px) {
      .talented .section-content .talented-txt {
        font-size: 13px;
        margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .talented .section-content .talented-img {
      padding: 0 15px; } }
  .talented .section-content .talented-img img {
    margin: 0 auto; }

.welfare {
  padding-bottom: 40px; }
  @media (max-width: 991px) {
    .welfare {
      padding-bottom: 0; } }
  .welfare .section-content .welfare-txt {
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 70px; }
    @media (max-width: 767px) {
      .welfare .section-content .welfare-txt {
        font-size: 13px;
        margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .welfare .section-content .welfare-img {
      padding: 0 15px; } }
  .welfare .section-content .welfare-img img {
    margin: 0 auto; }

.resume {
  padding-bottom: 40px; }
  @media (max-width: 991px) {
    .resume {
      padding-bottom: 0; } }
  .resume .section-header h3 {
    margin-bottom: 30px !important; }
  .resume .section-content div h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .resume .section-content div h4 {
        font-size: 18px;
        margin-bottom: 15px; } }
    @media (max-width: 767px) {
      .resume .section-content div h4 {
        font-size: 16px;
        margin-bottom: 15px; } }
    .resume .section-content div h4:before {
      content: "·";
      padding-right: 17px; }
      @media (max-width: 991px) {
        .resume .section-content div h4:before {
          padding-right: 10px; } }
      @media (max-width: 767px) {
        .resume .section-content div h4:before {
          padding-right: 10px; } }
  .resume .section-content .privacy {
    margin-bottom: 70px; }
    @media (max-width: 991px) {
      .resume .section-content .privacy {
        margin-bottom: 50px; } }
    @media (max-width: 767px) {
      .resume .section-content .privacy {
        margin-bottom: 30px; } }
    .resume .section-content .privacy .agree {
      overflow-y: scroll;
      width: 100%;
      height: 210px;
      border: 1px solid #dadada;
      padding: 35px; }
      @media (max-width: 991px) {
        .resume .section-content .privacy .agree {
          padding: 35px; } }
      @media (max-width: 767px) {
        .resume .section-content .privacy .agree {
          padding: 15px; } }
      .resume .section-content .privacy .agree h5 {
        font-size: 16px;
        color: #6c6c6c;
        font-weight: 400;
        line-height: 29px; }
        @media (max-width: 991px) {
          .resume .section-content .privacy .agree h5 {
            font-size: 14px;
            line-height: 20px; } }
        @media (max-width: 767px) {
          .resume .section-content .privacy .agree h5 {
            font-size: 13px;
            line-height: 18px; } }
      .resume .section-content .privacy .agree ul {
        margin-bottom: 30px; }
        @media (max-width: 991px) {
          .resume .section-content .privacy .agree ul {
            margin-bottom: 15px; } }
        .resume .section-content .privacy .agree ul li {
          position: relative;
          font-size: 16px;
          color: #6c6c6c;
          line-height: 29px;
          padding-left: 10px; }
          @media (max-width: 991px) {
            .resume .section-content .privacy .agree ul li {
              font-size: 14px;
              line-height: 20px; } }
          @media (max-width: 767px) {
            .resume .section-content .privacy .agree ul li {
              font-size: 13px;
              line-height: 18px; } }
          .resume .section-content .privacy .agree ul li:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "-"; }
      .resume .section-content .privacy .agree > p {
        font-size: 16px;
        color: #6c6c6c;
        line-height: 29px; }
        @media (max-width: 991px) {
          .resume .section-content .privacy .agree > p {
            font-size: 14px;
            line-height: 20px; } }
        @media (max-width: 767px) {
          .resume .section-content .privacy .agree > p {
            font-size: 13px;
            line-height: 18px; } }
    .resume .section-content .privacy .check {
      margin-top: 20px;
      text-align: right; }
      @media (max-width: 991px) {
        .resume .section-content .privacy .check {
          margin-top: 15px; } }
      .resume .section-content .privacy .check label {
        font-size: 16px;
        color: #6c6c6c;
        font-weight: 300;
        margin-bottom: 0; }
        @media (max-width: 991px) {
          .resume .section-content .privacy .check label {
            font-size: 13px; } }
        .resume .section-content .privacy .check label input {
          margin-top: -2px;
          margin-right: 4px;
          vertical-align: middle; }
  .resume .section-content .write .table-wrap .table {
    border: 0;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .resume .section-content .write .table-wrap .table {
        margin-bottom: 15px; } }
    .resume .section-content .write .table-wrap .table tbody tr:first-child th {
      border-top: 2px solid #333; }
    .resume .section-content .write .table-wrap .table tbody tr:first-child td {
      border-top: 2px solid #d90c1c; }
    .resume .section-content .write .table-wrap .table tbody tr th {
      font-size: 16px;
      color: #333;
      vertical-align: middle;
      text-align: center;
      border: 0;
      border-bottom: 1px solid #fff;
      background-color: #f6f6f6; }
      @media (max-width: 991px) {
        .resume .section-content .write .table-wrap .table tbody tr th {
          font-size: 13px; } }
      @media (max-width: 767px) {
        .resume .section-content .write .table-wrap .table tbody tr th {
          font-size: 11px; } }
    .resume .section-content .write .table-wrap .table tbody tr .phone {
      border-color: #dadada; }
    .resume .section-content .write .table-wrap .table tbody tr td {
      padding: 5px 30px;
      border: 0;
      border-bottom: 1px solid #dadada; }
      @media (max-width: 767px) {
        .resume .section-content .write .table-wrap .table tbody tr td {
          padding-left: 5px;
          padding-right: 5px; } }
      .resume .section-content .write .table-wrap .table tbody tr td .form-control {
        height: 35px;
        font-size: 16px;
        color: #333;
        border-radius: 0;
        border: 1px solid #dadada;
        box-shadow: none; }
        @media (max-width: 991px) {
          .resume .section-content .write .table-wrap .table tbody tr td .form-control {
            font-size: 13px;
            padding: 5px; } }
        @media (max-width: 767px) {
          .resume .section-content .write .table-wrap .table tbody tr td .form-control {
            font-size: 12px; } }
    .resume .section-content .write .table-wrap .table tbody tr .user-name .form-control {
      width: 20%; }
      @media (max-width: 991px) {
        .resume .section-content .write .table-wrap .table tbody tr .user-name .form-control {
          width: 50%; } }
    .resume .section-content .write .table-wrap .table tbody tr .call .form-control {
      width: 53%; }
      @media (max-width: 991px) {
        .resume .section-content .write .table-wrap .table tbody tr .call .form-control {
          width: 100%; } }
    .resume .section-content .write .table-wrap .table tbody tr .resume-file .form-control {
      width: 41%;
      display: inline-block; }
    .resume .section-content .write .table-wrap .table tbody tr .resume-file .attention {
      font-size: 16px;
      color: #6b6b6b;
      vertical-align: top;
      margin-left: 20px;
      margin-top: 7px;
      display: inline-block; }
      @media (max-width: 991px) {
        .resume .section-content .write .table-wrap .table tbody tr .resume-file .attention {
          font-size: 13px;
          margin-left: 5px; } }
      @media (max-width: 767px) {
        .resume .section-content .write .table-wrap .table tbody tr .resume-file .attention {
          font-size: 11px; } }
  .resume .section-content .write .btn-area {
    text-align: center; }
    .resume .section-content .write .btn-area p .btn {
      width: 120px;
      height: 35px;
      font-size: 16px;
      color: #fff;
      text-align: center;
      display: inline-block; }
      @media (max-width: 767px) {
        .resume .section-content .write .btn-area p .btn {
          width: 80px;
          height: 30px;
          font-size: 13px; } }
    .resume .section-content .write .btn-area p .btn-red {
      background-color: #d90c1c;
      margin-right: 4px; }
    .resume .section-content .write .btn-area p .btn-gray {
      background-color: #999; }

.recruit {
  padding-bottom: 40px; }
  .recruit div h4 {
    font-size: 24px;
    color: #333;
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 20px; }
    .recruit div h4:before {
      content: "·";
      padding-right: 15px; }
    .recruit div h4 small {
      font-size: 16px;
      color: #6c6c6c;
      display: inline-block;
      margin-left: 18px; }
  .recruit div .table-wrap .table {
    border: 0; }
    .recruit div .table-wrap .table th {
      vertical-align: middle;
      text-align: center;
      border: 0;
      border-bottom: 1px solid #fff;
      background-color: #f6f6f6;
      font-size: 16px;
      font-weight: 400;
      color: #333; }
      .recruit div .table-wrap .table th lable {
        font-size: 16px;
        color: #333;
        margin-bottom: 0; }
    .recruit div .table-wrap .table .thb {
      border-bottom: 1px solid #dadada; }
    .recruit div .table-wrap .table .rc-border {
      border-top: 2px solid #d90c1c; }
    .recruit div .table-wrap .table .rr-border {
      border-top: 2px solid #333; }
    .recruit div .table-wrap .table td {
      vertical-align: middle;
      border: 0;
      border-bottom: 1px solid #dadada;
      padding: 5px 30px;
      padding-left: 30px; }
      .recruit div .table-wrap .table td .form-control {
        border-radius: 0;
        border: 1px solid #dadada;
        width: 100%;
        height: 35px;
        box-shadow: none; }
      .recruit div .table-wrap .table td label {
        font-size: 16px; }
  .recruit div .table-wrap .btn-area {
    margin-top: 30px;
    text-align: right; }
    .recruit div .table-wrap .btn-area p .btn {
      width: 120px;
      height: 35px;
      border-radius: 0;
      font-size: 16px;
      color: #fff;
      display: inline-block; }
    .recruit div .table-wrap .btn-area p .btn-addition {
      background-color: #d90c1c; }
    .recruit div .table-wrap .btn-area p .btn-del {
      background-color: #999; }
  .recruit .basics-info h4 {
    margin-top: 0; }
  .recruit .basics-info .table-wrap .table tbody tr td select {
    display: inline-block;
    width: 90px;
    height: 35px;
    padding-left: 13px;
    font-size: 16px;
    border: 1px solid #dadada; }
  .recruit .basics-info .table-wrap .table tbody tr .birthday .form-control {
    background-image: url(/assets/images/employment/calendar_btn.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  .recruit .basics-info .table-wrap .table tbody tr .sex p {
    display: inline-block; }
    .recruit .basics-info .table-wrap .table tbody tr .sex p .radio {
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px;
      margin-right: 7px; }
    .recruit .basics-info .table-wrap .table tbody tr .sex p:first-child {
      margin-right: 30px; }
  .recruit .basics-info .table-wrap .table tbody tr .call .form-control {
    width: 125px;
    display: inline-block; }
  .recruit .basics-info .table-wrap .table tbody tr .file .form-control {
    width: 300px;
    display: inline-block; }
  .recruit .basics-info .table-wrap .table tbody tr .file .file-btn {
    margin-left: 5px;
    display: inline-block; }
    .recruit .basics-info .table-wrap .table tbody tr .file .file-btn .btn {
      vertical-align: middle;
      width: 100px;
      height: 35px;
      margin-top: -7px;
      font-size: 16px;
      color: #333;
      text-align: center;
      border: 1px solid #a9acb4;
      background-color: #f1f1f3; }
  .recruit .basics-info .table-wrap .table tbody tr .addr .form-control {
    display: inline-block; }
    .recruit .basics-info .table-wrap .table tbody tr .addr .form-control:nth-of-type(4) {
      margin-top: 5px; }
  .recruit .basics-info .table-wrap .table tbody tr .addr .addr-input {
    width: 125px; }
  .recruit .basics-info .table-wrap .table tbody tr .addr .btn-address {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px; }
    .recruit .basics-info .table-wrap .table tbody tr .addr .btn-address .btn-addr {
      font-size: 16px;
      color: #333;
      height: 34px;
      border: 1px solid #a9acb4;
      background-color: #f1f1f3; }
  .recruit .basics-info .table-wrap .table tbody tr .income .form-control {
    width: 370px; }
  .recruit .military .table-wrap .table thead tr th {
    border-bottom: 1px solid #333; }
    .recruit .military .table-wrap .table thead tr th:first-child {
      border-left: 0; }
  .recruit .military .table-wrap .table tbody .period .form-control {
    display: inline-block;
    width: 256px;
    background-image: url(/assets/images/employment/calendar_btn.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  .recruit .family .table-wrap .table thead tr th {
    border-bottom: 1px solid #333; }
    .recruit .family .table-wrap .table thead tr th:first-child {
      border-left: 0; }
  .recruit .family .table-wrap .table tbody .family-birth .form-control {
    display: inline-block;
    background-image: url(/assets/images/employment/calendar_btn.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  .recruit .family .table-wrap .table tbody .cohabit {
    text-align: center; }
    .recruit .family .table-wrap .table tbody .cohabit p {
      display: inline-block; }
      .recruit .family .table-wrap .table tbody .cohabit p:first-child {
        margin-right: 30px; }
      .recruit .family .table-wrap .table tbody .cohabit p .radio {
        display: inline-block;
        margin-right: 5px; }
  .recruit .academic .table-wrap .table thead tr th {
    border-bottom: 1px solid #333; }
    .recruit .academic .table-wrap .table thead tr th:first-child {
      border-left: 0; }
  .recruit .academic .table-wrap .table tbody td select {
    width: 100%;
    height: 35px;
    font-size: 16px;
    padding-left: 13px;
    border: 1px solid #dadada; }
  .recruit .academic .table-wrap .table tbody .academic-period .form-control {
    display: inline-block;
    width: 147px;
    background-image: url(/assets/images/employment/calendar_btn.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  .recruit .qualifiction .table-wrap .table thead tr th {
    border-bottom: 1px solid #333; }
    .recruit .qualifiction .table-wrap .table thead tr th:first-child {
      border-left: 0; }
  .recruit .qualifiction .table-wrap .table tbody td select {
    width: 100%;
    height: 35px;
    font-size: 16px;
    padding-left: 13px;
    border: 1px solid #dadada; }
  .recruit .qualifiction .table-wrap .table tbody .acquisition .form-control {
    display: inline-block;
    background-image: url(/assets/images/employment/calendar_btn.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  .recruit .language .table-wrap .table thead tr th {
    border-bottom: 1px solid #333; }
    .recruit .language .table-wrap .table thead tr th:first-child {
      border-left: 0; }
  .recruit .language .table-wrap .table tbody td select {
    width: 100%;
    height: 35px;
    font-size: 16px;
    padding-left: 13px;
    border: 1px solid #dadada; }
  .recruit .language .table-wrap .table tbody .enforcement-date .form-control {
    display: inline-block;
    background-image: url(/assets/images/employment/calendar_btn.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  .recruit .self-introduction .form-control {
    height: 210px;
    border-radius: 0;
    font-size: 16px;
    color: #6c6c6c; }
  .recruit .document-attached {
    margin-bottom: 70px;
    overflow: hidden; }
    .recruit .document-attached h4 {
      float: left;
      margin-right: 30px;
      margin-bottom: 0; }
    .recruit .document-attached .form-control {
      float: left;
      width: 300px;
      height: 35px;
      border-radius: 0;
      margin-top: 68px; }
    .recruit .document-attached .file-btn {
      float: left;
      margin-top: 68px;
      margin-left: 5px; }
      .recruit .document-attached .file-btn .btn {
        width: 100px;
        height: 35px;
        font-size: 16px;
        color: #333;
        text-align: center;
        border: 1px solid #a9acb4;
        background-color: #f1f1f3; }
  .recruit .btn-area p .btn-submission {
    display: block;
    width: 220px;
    height: 35px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background-color: #d90c1c; }

.information.list {
  padding-bottom: 40px; }
  @media (max-width: 767px) {
    .information.list {
      padding-bottom: 0; } }
  .information.list .section-content .table-wrap .table {
    border: 0;
    margin-bottom: 0; }
    .information.list .section-content .table-wrap .table thead tr th {
      font-size: 16px;
      color: #333;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      padding: 14px 0;
      border: 0;
      border-top: 2px solid #333;
      border-bottom: 1px solid #333;
      background-color: #f6f6f6; }
      .information.list .section-content .table-wrap .table thead tr th:nth-of-type(2) {
        border-top-color: #d90c1c; }
      @media (max-width: 1199px) {
        .information.list .section-content .table-wrap .table thead tr th {
          font-size: 14px;
          padding: 10px; } }
      @media (max-width: 991px) {
        .information.list .section-content .table-wrap .table thead tr th {
          font-family: 13px; } }
      @media (max-width: 767px) {
        .information.list .section-content .table-wrap .table thead tr th {
          font-size: 12px; } }
    .information.list .section-content .table-wrap .table tbody tr td {
      font-size: 16px;
      color: #6b6b6b;
      vertical-align: middle;
      text-align: center;
      padding: 12px 0;
      border: 0;
      border-bottom: 1px solid #dadada; }
      @media (max-width: 1199px) {
        .information.list .section-content .table-wrap .table tbody tr td {
          padding: 10px 0;
          font-size: 14px; } }
      @media (max-width: 991px) {
        .information.list .section-content .table-wrap .table tbody tr td {
          font-size: 13px;
          padding-right: 10px; } }
      @media (max-width: 767px) {
        .information.list .section-content .table-wrap .table tbody tr td {
          font-size: 11px; } }
      .information.list .section-content .table-wrap .table tbody tr td:nth-of-type(2) {
        padding-left: 10px;
        text-align: left; }
        @media (max-width: 991px) {
          .information.list .section-content .table-wrap .table tbody tr td:nth-of-type(2) {
            padding-left: 5px; } }
        @media (max-width: 767px) {
          .information.list .section-content .table-wrap .table tbody tr td:nth-of-type(2) {
            padding-left: 5px; } }
      .information.list .section-content .table-wrap .table tbody tr td a {
        font-size: 16px;
        color: #6c6c6c;
        display: inline-block;
        width: 100%;
        max-width: 600px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        @media (max-width: 1199px) {
          .information.list .section-content .table-wrap .table tbody tr td a {
            font-size: 14px;
            white-space: inherit;
            text-overflow: ellipsis; } }
        @media (max-width: 991px) {
          .information.list .section-content .table-wrap .table tbody tr td a {
            font-size: 13px; } }
        @media (max-width: 767px) {
          .information.list .section-content .table-wrap .table tbody tr td a {
            position: relative;
            font-size: 11px;
            padding-left: 40px;
            line-height: 23px; } }
        .information.list .section-content .table-wrap .table tbody tr td a span {
          display: inline-block;
          width: 45px;
          height: 23px;
          font-size: 13px;
          color: #fff;
          line-height: 23px;
          text-align: center;
          vertical-align: middle;
          margin-right: 40px; }
          @media (max-width: 1199px) {
            .information.list .section-content .table-wrap .table tbody tr td a span {
              margin-right: 20px;
              display: block;
              float: left; } }
          @media (max-width: 991px) {
            .information.list .section-content .table-wrap .table tbody tr td a span {
              width: 30px;
              height: 23px;
              line-height: 23px;
              font-size: 12px; } }
          @media (max-width: 767px) {
            .information.list .section-content .table-wrap .table tbody tr td a span {
              position: absolute;
              top: 0;
              left: 0;
              margin-right: 10px; } }
        .information.list .section-content .table-wrap .table tbody tr td a .accept {
          background-color: #d90c1c; }
        .information.list .section-content .table-wrap .table tbody tr td a .deadline {
          background-color: #999; }
    .information.list .section-content .table-wrap .table tbody tr .receive a {
      color: #333;
      font-weight: bold; }
      .information.list .section-content .table-wrap .table tbody tr .receive a span {
        font-weight: 400; }
  .information.list .section-content .paging {
    text-align: center;
    margin-top: 30px; }
    .information.list .section-content .paging .pagination {
      margin: 0; }
      .information.list .section-content .paging .pagination li a {
        font-size: 16px;
        color: #6c6c6c;
        padding: 8px 14px;
        border-radius: 0;
        border: 1px solid #dadada; }
        @media (max-width: 991px) {
          .information.list .section-content .paging .pagination li a {
            font-size: 14px;
            padding: 6px 12px; } }
        @media (max-width: 767px) {
          .information.list .section-content .paging .pagination li a {
            font-size: 12px;
            padding: 4px 10px; } }
      .information.list .section-content .paging .pagination .active a {
        color: #fff;
        border-color: #d90c1c;
        background-color: #d90c1c; }

/*# sourceMappingURL=employment.css.map */
