@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";
.gotham, .ceo-greetings .section-content .greetings h4 {
  font-family: 'Gotham', sans-serif; }

.lato {
  font-family: 'Lato', sans-serif; }

@media (max-width: 767px) {
  .ceo-greetings {
    background-size: 100% auto;
    background-position: 50% 125px; } }
.ceo-greetings .section-content .greetings {
  padding-left: 27px;
  border-left: 4px solid #d90c1c; }
  @media (max-width: 767px) {
    .ceo-greetings .section-content .greetings {
      padding-left: 10px;
      border-left: 2px solid #d90c1c; } }
  .ceo-greetings .section-content .greetings small {
    vertical-align: top;
    font-size: 14px;
    color: #b1b1b1;
    font-weight: bold; }
    @media (max-width: 767px) {
      .ceo-greetings .section-content .greetings small {
        font-size: 11px; } }
  .ceo-greetings .section-content .greetings h4 {
    font-size: 38px;
    color: #d90c1c;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 25px; }
    @media (max-width: 767px) {
      .ceo-greetings .section-content .greetings h4 {
        font-size: 18px !important;
        letter-spacing: -1px;
        margin-bottom: 15px; } }
  .ceo-greetings .section-content .greetings p {
    font-size: 24px;
    color: #333;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: -1px;
    position: relative; }
    @media (max-width: 767px) {
      .ceo-greetings .section-content .greetings p {
        font-size: 13px;
        line-height: 16px; } }
.ceo-greetings .section-content .greeting-bg {
  margin-top: -200px; }
  @media (max-width: 1199px) {
    .ceo-greetings .section-content .greeting-bg {
      margin-top: -160px; } }
  @media (max-width: 767px) {
    .ceo-greetings .section-content .greeting-bg {
      margin-top: -50px;
      margin-bottom: -30px; } }
.ceo-greetings .section-content .geumdo-ceo {
  margin-top: 55px; }
  @media (max-width: 767px) {
    .ceo-greetings .section-content .geumdo-ceo {
      margin-top: 30px; } }
  .ceo-greetings .section-content .geumdo-ceo > div {
    font-size: 16px;
    color: #6c6c6c;
    line-height: 30px;
    letter-spacing: 1px; }
    @media (max-width: 767px) {
      .ceo-greetings .section-content .geumdo-ceo > div {
        font-size: 13px;
        line-height: 18px; } }
    @media (max-width: 1199px) {
      .ceo-greetings .section-content .geumdo-ceo > div:first-child {
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .ceo-greetings .section-content .geumdo-ceo > div:first-child {
        margin-bottom: 20px; } }
    .ceo-greetings .section-content .geumdo-ceo > div .ceo {
      margin-top: 33px;
      text-align: right; }
      @media (max-width: 767px) {
        .ceo-greetings .section-content .geumdo-ceo > div .ceo {
          font-size: 12px; } }
      .ceo-greetings .section-content .geumdo-ceo > div .ceo img {
        margin-left: 15px;
        vertical-align: baseline; }
        @media (max-width: 767px) {
          .ceo-greetings .section-content .geumdo-ceo > div .ceo img {
            width: 60px; } }

.summary .company {
  padding-bottom: 40px; }
  @media (max-width: 768px) {
    .summary .company {
      padding-bottom: 20px; } }
  .summary .company .info p {
    font-size: 16px;
    color: #6c6c6c;
    line-height: 29px; }
    @media (max-width: 992px) {
      .summary .company .info p {
        font-size: 13px;
        line-height: 18px; } }
  .summary .company .info .table-wrap {
    margin-top: 35px; }
    @media (max-width: 992px) {
      .summary .company .info .table-wrap {
        margin-top: 20px; } }
    .summary .company .info .table-wrap .table.table-bordered {
      margin-bottom: 0;
      border: 0;
      border-top: 3px solid #333; }
      @media (max-width: 992px) {
        .summary .company .info .table-wrap .table.table-bordered {
          border-top: 2px solid #333; } }
      .summary .company .info .table-wrap .table.table-bordered tbody th {
        table-layout: inherit;
        font-size: 16px;
        color: #333;
        text-align: center;
        font-weight: 400;
        vertical-align: middle;
        border-left: 0;
        border-color: #bbb;
        background-color: #fafafa; }
        @media (max-width: 992px) {
          .summary .company .info .table-wrap .table.table-bordered tbody th {
            font-size: 13px; } }
        .summary .company .info .table-wrap .table.table-bordered tbody th small {
          font-size: 12px; }
          @media (max-width: 992px) {
            .summary .company .info .table-wrap .table.table-bordered tbody th small {
              font-size: 10px; } }
      .summary .company .info .table-wrap .table.table-bordered tbody td {
        font-size: 16px;
        color: #6c6c6c;
        text-align: left;
        padding: 8px 0 9px 20px;
        border-color: #bbb;
        border-right: 0;
        vertical-align: middle; }
        @media (max-width: 992px) {
          .summary .company .info .table-wrap .table.table-bordered tbody td {
            font-size: 13px; } }
        @media (max-width: 768px) {
          .summary .company .info .table-wrap .table.table-bordered tbody td {
            letter-spacing: -1px;
            padding-left: 10px; } }
      .summary .company .info .table-wrap .table.table-bordered tbody .tx-align {
        padding-left: 0;
        padding-right: 0;
        text-align: center; }
  .summary .company .motto {
    height: 416px;
    text-align: center;
    background-image: url(/assets/images/introduce/summary_bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0; }
    @media (max-width: 1200px) {
      .summary .company .motto {
        margin-left: 30px; } }
    @media (max-width: 992px) {
      .summary .company .motto {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
        background-size: cover;
        background-position: 50% 100%; } }
    @media (max-width: 768px) {
      .summary .company .motto {
        height: 300px; } }
    .summary .company .motto hr {
      width: 219px;
      display: inline-block;
      margin: 100px 0 30px;
      border-top: 3px solid #fff; }
      @media (max-width: 768px) {
        .summary .company .motto hr {
          width: 160px;
          margin: 70px 0 30px; } }
    .summary .company .motto ul li {
      font-size: 39px;
      color: #fff;
      line-height: 50px;
      text-align: center; }
      @media (max-width: 768px) {
        .summary .company .motto ul li {
          font-size: 29px;
          line-height: 40px; } }

.group {
  padding-bottom: 40px; }
  @media (max-width: 992px) {
    .group {
      padding-bottom: 0; } }
  .group .section-content .group-table-img {
    text-align: center; }
    .group .section-content .group-table-img img {
      display: inline-block; }
      @media (max-width: 320px) {
        .group .section-content .group-table-img img {
          width: 300px; } }

.location {
  padding-bottom: 40px; }
  @media (max-width: 992px) {
    .location {
      padding-bottom: 0; } }
  .location .section-content .maps {
    text-align: center;
    margin-bottom: 30px; }
    .location .section-content .maps img {
      display: inline-block; }
  .location .section-content .inquiry-info li {
    border-right: 1px solid #ccc; }
    .location .section-content .inquiry-info li:last-child {
      border: 0; }
    @media (max-width: 992px) {
      .location .section-content .inquiry-info li {
        text-align: center;
        border-right: 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: 30px; }
        .location .section-content .inquiry-info li:last-child {
          padding-bottom: 0;
          margin-bottom: 0; } }
    .location .section-content .inquiry-info li div h4 {
      font-size: 24px;
      color: #333;
      font-weight: 400;
      text-align: center;
      margin-bottom: 15px;
      padding-top: 67px; }
      @media (max-width: 768px) {
        .location .section-content .inquiry-info li div h4 {
          font-size: 18px;
          margin-bottom: 10px; } }
    .location .section-content .inquiry-info li div dl {
      overflow: hidden; }
      @media (max-width: 992px) {
        .location .section-content .inquiry-info li div dl {
          display: inline-block;
          padding-left: 0 !important;
          text-align: left; } }
      .location .section-content .inquiry-info li div dl dt {
        float: left;
        clear: both;
        font-size: 16px;
        color: #333;
        line-height: 29px;
        font-weight: 400px; }
        @media (max-width: 768px) {
          .location .section-content .inquiry-info li div dl dt {
            font-size: 13px;
            line-height: 20px; } }
      .location .section-content .inquiry-info li div dl dd {
        float: left;
        font-size: 16px;
        color: #6b6b6b;
        line-height: 29px;
        font-weight: 400px; }
        @media (max-width: 768px) {
          .location .section-content .inquiry-info li div dl dd {
            font-size: 13px;
            line-height: 18px; } }
    .location .section-content .inquiry-info li .office h4 {
      background-image: url(/assets/images/introduce/inquiry_img01.png);
      background-repeat: no-repeat;
      background-position: 50% 0; }
    .location .section-content .inquiry-info li .office dl {
      padding-left: 48px; }
      @media (max-width: 1200px) {
        .location .section-content .inquiry-info li .office dl {
          padding-left: 15px; } }
      .location .section-content .inquiry-info li .office dl dt {
        width: 70px; }
    .location .section-content .inquiry-info li .call-center h4 {
      background-image: url(/assets/images/introduce/inquiry_img02.png);
      background-repeat: no-repeat;
      background-position: 50% 0; }
    .location .section-content .inquiry-info li .call-center dl {
      padding-left: 90px; }
      @media (max-width: 1200px) {
        .location .section-content .inquiry-info li .call-center dl {
          padding-left: 60px; } }
      .location .section-content .inquiry-info li .call-center dl dt {
        width: 57px; }
    .location .section-content .inquiry-info li .email-inquiry h4 {
      background-image: url(/assets/images/introduce/inquiry_img03.png);
      background-repeat: no-repeat;
      background-position: 50% 0; }
    .location .section-content .inquiry-info li .email-inquiry dl {
      padding-left: 65px; }
      @media (max-width: 1200px) {
        .location .section-content .inquiry-info li .email-inquiry dl {
          padding-left: 45px; } }
      .location .section-content .inquiry-info li .email-inquiry dl dt {
        width: 77px; }

.history {
  padding-bottom: 40px; }
@midea (max-width: $md) {
  .history {
    padding-bottom: 0; } }
  .history .section-content .geumdo-history .present h4 {
    width: 100%;
    font-size: 30px;
    color: #d90c1c;
    font-weight: 300;
    padding-top: 29px;
    border-top: 2px solid #d90c1c; }
    @media (max-width: 992px) {
      .history .section-content .geumdo-history .present h4 {
        font-size: 18px;
        padding-top: 20px; } }
  .history .section-content .geumdo-history .present .present-dl {
    border-top: 2px solid #333; }
    @media (max-width: 992px) {
      .history .section-content .geumdo-history .present .present-dl {
        border-top: 0; } }
  .history .section-content .geumdo-history .present dl {
    overflow: hidden;
    padding: 29px 0;
    margin-left: -25px;
    border-bottom: 1px dotted #ccc; }
    .history .section-content .geumdo-history .present dl:last-child {
      border-bottom: 0; }
    @media (max-width: 1200px) {
      .history .section-content .geumdo-history .present dl {
        margin-left: -5px; } }
    @media (max-width: 992px) {
      .history .section-content .geumdo-history .present dl {
        margin-left: 0;
        padding: 20px 0; } }
    .history .section-content .geumdo-history .present dl dt {
      float: left;
      clear: both;
      width: 60px;
      font-size: 16px;
      color: #333;
      font-weight: 400;
      vertical-align: top; }
      @media (max-width: 992px) {
        .history .section-content .geumdo-history .present dl dt {
          font-size: 13px; } }
      .history .section-content .geumdo-history .present dl dt:before {
        content: "·";
        margin-top: -5px;
        font-size: 13px;
        color: #333; }
    .history .section-content .geumdo-history .present dl dd {
      float: left; }
      .history .section-content .geumdo-history .present dl dd ol li:last-child {
        margin-bottom: 0; }
      .history .section-content .geumdo-history .present dl dd ol li h5 {
        display: inline-block;
        width: 55px;
        font-size: 16px;
        color: #333;
        font-weight: 400;
        vertical-align: top;
        margin-top: 3px; }
        @media (max-width: 992px) {
          .history .section-content .geumdo-history .present dl dd ol li h5 {
            font-size: 13px;
            margin-top: 2px; } }
      .history .section-content .geumdo-history .present dl dd ol li p {
        display: inline-block;
        font-size: 16px;
        color: #6c6c6c;
        font-weight: 400;
        line-height: 29px;
        margin-top: -2px;
        letter-spacing: -1px; }
        @media (max-width: 992px) {
          .history .section-content .geumdo-history .present dl dd ol li p {
            font-size: 13px;
            line-height: 22px; } }
  .history .section-content .geumdo-history .history-info {
    border-top: 1px solid #dadada; }
    .history .section-content .geumdo-history .history-info:last-child {
      border-bottom: 1px solid #dadada; }
    .history .section-content .geumdo-history .history-info h4 {
      width: 100%;
      font-size: 30px;
      color: #d90c1c;
      font-weight: 300;
      padding-top: 29px; }
      @media (max-width: 992px) {
        .history .section-content .geumdo-history .history-info h4 {
          font-size: 18px;
          padding-top: 20px; } }
    .history .section-content .geumdo-history .history-info dl {
      overflow: hidden;
      padding: 29px 0;
      margin-left: -25px;
      border-bottom: 1px dotted #ccc; }
      .history .section-content .geumdo-history .history-info dl:last-child {
        border-bottom: 0; }
      @media (max-width: 1200px) {
        .history .section-content .geumdo-history .history-info dl {
          margin-left: -5px; } }
      @media (max-width: 992px) {
        .history .section-content .geumdo-history .history-info dl {
          margin-left: 0;
          padding: 20px 0; } }
      .history .section-content .geumdo-history .history-info dl dt {
        float: left;
        clear: both;
        width: 60px;
        font-size: 16px;
        color: #333;
        font-weight: 400;
        vertical-align: top; }
        @media (max-width: 992px) {
          .history .section-content .geumdo-history .history-info dl dt {
            font-size: 13px; } }
        .history .section-content .geumdo-history .history-info dl dt:before {
          content: "·";
          margin-top: -5px;
          font-size: 13px;
          color: #333; }
      .history .section-content .geumdo-history .history-info dl dd {
        float: left; }
        .history .section-content .geumdo-history .history-info dl dd ol li:last-child {
          margin-bottom: 0; }
        .history .section-content .geumdo-history .history-info dl dd ol li h5 {
          display: inline-block;
          width: 55px;
          font-size: 16px;
          color: #333;
          font-weight: 400;
          vertical-align: top;
          margin-top: 3px; }
          @media (max-width: 992px) {
            .history .section-content .geumdo-history .history-info dl dd ol li h5 {
              font-size: 13px;
              margin-top: 2px; } }
        .history .section-content .geumdo-history .history-info dl dd ol li p {
          display: inline-block;
          font-size: 16px;
          color: #6c6c6c;
          font-weight: 400;
          line-height: 29px;
          margin-top: -2px;
          letter-spacing: -1px; }
          @media (max-width: 992px) {
            .history .section-content .geumdo-history .history-info dl dd ol li p {
              font-size: 13px;
              line-height: 22px; } }
  .history .section-content .geumdo-history .challenge {
    text-align: center; }
    .history .section-content .geumdo-history .challenge p {
      font-size: 24px;
      color: #333;
      line-height: 35px;
      font-weight: 400;
      text-align: left;
      margin-bottom: 50px;
      margin-top: -10px; }
      @media (max-width: 1200px) {
        .history .section-content .geumdo-history .challenge p {
          font-size: 24px;
          margin-top: 30px;
          margin-bottom: 30px; } }
      @media (max-width: 992px) {
        .history .section-content .geumdo-history .challenge p {
          font-size: 18px; } }
    .history .section-content .geumdo-history .challenge span {
      display: block; }
      @media (max-width: 768px) {
        .history .section-content .geumdo-history .challenge span {
          padding: 0 30px; } }
      .history .section-content .geumdo-history .challenge span img {
        display: inline-block; }

/*# sourceMappingURL=introduce.css.map */
