@import 'common';
.ceo-greetings {
    //background-image: url(/assets/images/introduce/greetings_bg.png);
    //background-repeat: no-repeat;
    //background-position: 50% 180px;
    @media (max-width: $sm - 1) {
        background-size: 100% auto;
        background-position: 50% 125px;
    }
    .section-content{
        .greetings {
            padding-left: 27px;
            border-left: 4px solid $rc;
            @media (max-width: $sm - 1) {
                padding-left: 10px;
                border-left: 2px solid $rc;
            }
            small {
                vertical-align: top;
                font-size: 14px;
                color: #b1b1b1;
                font-weight: bold;
                @media (max-width: $sm - 1) {
                    font-size: 11px;
                }
            }
            h4 {
                font-size: 38px;
                color: $rc;
                font-weight: bold;
                letter-spacing: 2px;
                @extend .gotham;
                margin-bottom: 25px;
                @media (max-width: $sm - 1) {
                    font-size: 18px !important;
                    letter-spacing: -1px;
                    margin-bottom: 15px;
                }
            }
            p {
                font-size: 24px;
                color: #333;
                line-height: 35px;
                font-weight: 400;
                letter-spacing: -1px;
                position: relative;
                @media (max-width: $sm - 1) {
                    font-size: 13px;
                    line-height: 16px;
                }
            }
        }
        .greeting-bg {
            margin-top: -200px;
            @media (max-width: $lg - 1) {
                margin-top: -160px;
            }
            @media (max-width: $sm - 1) {
                margin-top: -50px;
                margin-bottom: -30px;
            }
        }
        .geumdo-ceo {
            //margin-top: 255px;
            margin-top: 55px;
            @media (max-width: $sm - 1) {
                margin-top: 30px;
            }
            > div {
                font-size: 16px;
                color: #6c6c6c;
                line-height: 30px;
                letter-spacing: 1px;
                @media (max-width: $sm - 1) {
                    font-size: 13px;
                    line-height: 18px;
                }
                &:first-child {
                    @media (max-width: $lg - 1) {
                        margin-bottom: 20px;
                    }
                    @media (max-width: $sm - 1) {
                        margin-bottom: 20px;
                    }
                }
                .ceo {
                    margin-top: 33px;
                    text-align: right;
                     @media (max-width: $sm - 1) {
                        font-size: 12px;
                    }
                    img {
                        margin-left: 15px;
                        vertical-align: baseline;
                        @media (max-width: $sm - 1) {
                            width: 60px;
                        }
                    }
                }
            }
        }
    }
}
.summary {
    .company {
        padding-bottom: 40px;
        @media (max-width: $sm) {
            padding-bottom: 20px;
        }
        .info {
            p {
                font-size: 16px;
                color: #6c6c6c;
                line-height: 29px;
                @media (max-width: $md) {
                    font-size: 13px;
                    line-height: 18px;
                }
            }
            .table-wrap {
                margin-top: 35px;
                @media (max-width: $md) {
                    margin-top: 20px;
                }
                .table.table-bordered {
                    margin-bottom: 0;
                    border: 0;
                    border-top: 3px solid #333;
                    @media (max-width: $md) {
                        border-top: 2px solid #333;
                    }
                    tbody {
                        th {
                            table-layout: inherit;
                            font-size: 16px;
                            color: #333;
                            text-align: center;
                            font-weight: 400;
                            vertical-align: middle;
                            border-left: 0;
                            border-color: #bbb;
                            background-color: #fafafa;
                            @media (max-width: $md) {
                                font-size: 13px;
                            }
                            small {
                                font-size: 12px;
                                @media (max-width: $md) {
                                    font-size: 10px;
                                }
                            }
                        }
                        td {
                            font-size: 16px;
                            color: #6c6c6c;
                            text-align: left;
                            padding: 8px 0 9px 20px;
                            border-color: #bbb;
                            border-right: 0;
                            vertical-align: middle;
                            @media (max-width: $md) {
                                font-size: 13px;
                            }
                            @media (max-width: $sm) {
                                letter-spacing: -1px;
                                padding-left: 10px;
                            }
                        }
                        .tx-align {
                            padding-left: 0;
                            padding-right: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .motto {
            height: 416px;
            text-align: center;
            background-image: url(/assets/images/introduce/summary_bg.jpg);
            background-repeat: no-repeat;
            background-position: 50% 0;
            @media (max-width: $lg) {
                margin-left: 30px;
            }
            @media (max-width: $md) {
                width: 100%;
                margin-left: 0;
                margin-top: 30px;
                background-size: cover;
                background-position: 50% 100%;
            }
            @media (max-width: $sm) {
                height: 300px;
            }
            hr {
                width: 219px;
                display: inline-block;
                margin: 100px 0 30px;
                border-top: 3px solid #fff;
                @media (max-width: $sm) {
                    width: 160px;
                    margin: 70px 0 30px;
                }
            }
            ul {
                li {
                    font-size: 39px;
                    color: #fff;
                    line-height: 50px;
                    text-align: center;
                    @media (max-width: $sm) {
                        font-size: 29px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
}
.group {
    padding-bottom: 40px;
    @media (max-width: $md) {
        padding-bottom: 0;
    }
    .section-content {
        .group-table-img {
            text-align: center;
            img {
                display: inline-block;
                @media (max-width: $xs) {
                    width: 300px;
                }
            }
        }
    }
}


















































